<h1>Danh sách bệnh viện</h1>

<table>
  <thead>
    <tr>
      <th>Tên bệnh viện</th>
      <th>Địa chỉ</th>
      <th>Số điện thoại</th>
    </tr>
  </thead>
  <tbody>
    {{#each hospitals}}
      <tr>
        <td>{{this.hospital_name}}</td>
        <td>{{this.hospital_address}}</td>
        <td>{{this.hospital_phone}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
